.logo
    width: 250px
    position: absolute
#wrapper
    position: relative

#wrapper:after
    display: block
    content: ''
    clear: both
img
    user-select: none
svg
    width: 500px
    height: 500px
#Layer_1
	.st0
        fill: #E6EF65
	.st1
        fill: #FF7B7B
	.st2
        fill: #AF6EAA
	.st3
        fill: #D384CA
	.st4
        fill: #8C548E
	.st5
        opacity: 0.19
        fill: #9E9E9E
	.st6
        fill: #FFCACA
	.st7
        fill: #EDB9B9
	.st8
        fill: #FFFFFF
	.st9
        fill: #FF8015


#circle
    position: relative
    z-index: 2

#img1
    width: 300px
    position: absolute

#img2
    width: 600px
    position: absolute
    z-index: -1

#img3
    width: 400px
    right: 0
    top: 100px
    position: absolute
    z-index: -2